extends layout.pug
include utils.pug

block head
  //- add page specific styles by appending to the head
  meta(name="viewport" content="width=device-width, initial-scale=1") 
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/questionFeatures.js" type="module" defer)
  title= title
block content
  .questions__container
    h1= title
    each question in questions
      div(class="question__container" id=`question-container-${question.id}`)
        div(class="user__container")
          p= question.User.username
          img(src=question.User.avatarImage)
          a(href=`/questions/${question.id}`)
            h3(id=`question-header-${question.id}`).qHeader= question.header
          p(id=`question-content-${question.id}`)= question.content
          p(class='numAnswers')= `Answers: ${question.get("answerCnt")}`
          br
          if userId === question.User.id
            a(class="button question-edit-btn" id=`edit-btn-${question.id}`) Edit
            a(class="button question-delete-btn" id=`delete-btn-${question.id}`) Delete
            form(class="hidden editForm" id=`edit-form-${question.id}` action=`/questions/${id}/edit` method="put")
              +field("Header:", `edit-header-${question.id}`, question.header)
              +field("Content:", `edit-content-${question.id}`, question.content, "textarea")
              a(class="button" id=`submit-edit-${question.id}`) Submit
              //- Button(type="button" id=`cancel-edit-${question.id}`) Cancel
        i.fa.fa-clock-o(aria-hidden='true')
          i(class="updatedAt" id=`updatedAt-${question.id}`) Created/Updated on #{question.updatedAt.toString().substring(0,25)}
