extends layout.pug
include utils.pug

block head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/editFeature.js" type="module" defer)
  script(src="/javascripts/deleteFeature.js" type="module" defer)

  title= title
block content
  img(src="/images/title.png" class="title__image")

  if questions
    each question in questions
      div(class="question__container" id=`question-container-${question.id}`)
        div(class="user__container")
          bold= question.User.username
          img(src=question.User.avatarImage)
        h3(id=`question-header-${question.id}`)= question.header
        p(id=`question-content-${question.id}`)= question.content
        if(userId === question.User.id)
          a(class="button edit-btn" id=`edit-btn-${question.id}`) Edit
          a(class="button delete-btn" id=`delete-btn-${question.id}`) Delete
          form(class="hidden" id=`edit-form-${question.id}` action=`/question/edit/${id}` method="put")
            +field("header", `edit-header-${question.id}`, question.header)
            +field("content", `edit-content-${question.id}`, question.content, "textarea")
            Button( id=`submit-edit-${question.id}`) Submit
            //- Button(type="button" id=`cancel-edit-${question.id}`) Cancel
