doctype html
include utils.pug
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

  block head
    title= title
    link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav(class="nav")
      div(class="nav__brand")
        a(href="/")
          img(src="/images/nav_brand.png")
      if locals.authenticated
        div(class="nav__user")
          div(class="nav__user-info")
            span Welcome, #{locals.currUser.username}!
            br
            a(href='/logout')
              span Logout
          if (locals.currUser.avatarImage)
            div(class="nav__user-avatar")
              a(href=`/users/${locals.currUser.id}`)
                img(src=locals.currUser.avatarImage)
      else
        div(class="nav__cpanel")
          a(href="/signup")
            span Sign Up
          a(href="/login")
            span Login
            //- div(id="open-modal" class="modal-window")
            //-   div
            //-     a(href="#" title="Close" class="modal-close") Close
            //-     h1 Login
            //-     div
            //-       +errorSummaryList(errors)
            //-       form(method="post" action="/get" class="nav__login")
            //-         input(type="hidden" name="_csrf" value=csrfToken)
            //-         label(for="username") Username:
            //-         input(type="text" name="username" id="username")
            //-         label(for="password") Password:
            //-         input(type="password" name="password" id="password")
            //-         button Submit
            //-         button Demo User
  if path !=='/signup' && path !=='/login' && path !== '/new-question'
    #left__sidebar
        a(href='/')
          i.fa.fa-home(aria-hidden='true')
            i Home
        a(href='/questions')
          i.fa.fa-question-circle-o(aria-hidden='true')
            i Questions
        a(href='/users')
         i.fa.fa-users(aria-hidden='true')
          i Users
        if locals.authenticated && path !== '/new-question'
          a(href='/new-question' class="button") Ask Question

  block content
footer(class="footer")

  div
    img(src="/images/profile.jpg" class="profileImg" alt="Profile Image")
    br
    span(class="footer__name") Beau Ferguson
  div(class="social__media")
    ul
      li
        a(href="https://www.linkedin.com/in/beau-t-ferguson/" target="_blank")
          i.fa.fa-linkedin-square(aria-hidden='true')
            i &nbsp; LinkedIn
      li
        a(href="https://github.com/midknightsurfer" target="_blank")
          i.fa.fa-github(aria-hidden='true')
            i &nbsp; Github
  div
    p JavaScript | Express | CSS | PostgreSQL | Pug | Sequelize
  div
    img(src="/images/jose.png" class="profileImg" alt="Profile Image")
    br
    span(class="footer__name") Jose Martinez
  div(class="social__media")
    ul
      li
        a(href="https://www.linkedin.com/in/jose-martinez-b7a1b3b8/" target="_blank")
          i.fa.fa-linkedin-square(aria-hidden='true')
            i &nbsp; LinkedIn
      li
        a(href="https://github.com/jmartinezsal" target="_blank")
          i.fa.fa-github(aria-hidden='true')
            i &nbsp; Github

