extends layout.pug

block content
    table.question
        tr
            td.username #{question.User.username}
            td
            h1= title

        tr
            td
                div
                img(src=question.User.avatarImage class='image')
            td
                td.text #{question.content}
            td
            tr
                td
                td
                td
                    div.center

        each answer in answers
            script(src="/javascripts/answers.js")
            tr
            
                td
                td.username= answer.User.username

            tr
                td todo: votes
                td
                
                
                    img(src=answer.User.avatarImage class="image answerImg")
                td.text= answer.answer


            if(userId === answer.User.id)
                a(href="#" class="button") Edit
                br
                a(href="#" class="button") Delete
