extends layout.pug

block content
    table.question
        tr
            td.username #{question.User.username}
            td
            h1= title
            
        tr
            td 
                div
                img(src=question.User.avatarImage class='image')
            td
                a(href="#" class="button") Edit
                br
                a(href="#" class="button") Delete
                td.text #{question.content}
            td
            tr
                td
                td
                td
                    div.center

        each answer in answers
            script(src="/javascripts/answers.js")
            tr
            
                td
                td.username= answer.User.username
                a(href=`/question/${question.id}/answer/add` class="button") Add Answer
            tr
                td todo: votes
                td
                
                
                    img(src=answer.User.avatarImage class="image answerImg")
                td.text= answer.answer
            div(id=`${answer.id}`)
                div(id=`${question.id}`)
                    button(id=`answer-${question.id}` class="deleteBtn" type="button") Delete
                td  
                    

        
