extends layout.pug

block head
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="/javascripts/answers.js")
    script(src="/javascripts/questionFeatures.js" type="module" defer)

    title= title
block content
    div.wrapper(id=`question-container-${question.id}`)
        div.questionUser
            div.username= question.User.username
            br
            img(src=question.User.avatarImage)
        div.question
            h1(id=`question-header-${question.id}`)= question.header
            p(id=`question-content-${question.id}`)= question.content
            if(userId === question.User.id)
                a(class="button question-edit-btn" id=`edit-btn-${question.id}`) Edit
                a(class="button question-delete-btn" id=`delete-btn-${question.id}`) Delete
                form(class="hidden" id=`edit-form-${question.id}` action=`/question/edit/${id}` method="put")
                    +field("header", `edit-header-${question.id}`, question.header)
                    +field("content", `edit-content-${question.id}`, question.content, "textarea")
                    Button( id=`submit-edit-${question.id}`) Submit
                    //- Button(type="button" id=`cancel-edit-${question.id}`) Cancel

            br
            a(href=`#` id=`${question.id}` class="button answerBtn") Add Answer
            div#newAnswer

        each answer in answers
        
            div(class=`question-answer-${question.id}` id=`${answer.id}` )
                div.questionUser
                    div.username= answer.User.username
                    img(src=answer.User.avatarImage)
                div.question(id=`${question.id}`)
                    form(class="hidden" id=`edit-form-${answer.id}` action=`/question/${question.id}/answer/edit/${answer.id}` method="put")
                        textarea(name="answer" id=`answer-${answer.id}`)
                        br

                    div(class=`answer-${answer.id}`).text= answer.answer
                    if(userId === answer.User.id)
                        a(id=`${question.id}-${answer.id}` class="button editBtn") Edit
                        a(class="button deleteBtn") Delete
            div(class="questionUser hidden" id="userImg")
                div.username= user.username
                img(src=user.avatarImage)
            div(class="answerForm question-answer-${question.id}")
                form(method="post" class="hidden" id="answerForm" action=`/question/${question.id}/answer/add`)
                    textarea(name="answer" id="answer")
                    br

