extends layout.pug

block content
    table.question
        tr
            td.username #{question.User.username}
            td
            h1= title
        tr
            td
                div
                img(src=question.User.avatarImage class='image')
            td
                td.text #{question.content}

    if(userId === question.User.id)
        a(href="#" class="button") Edit
        br
        a(href="#" class="button") Delete
        form(class="hidden" id=`edit-form-${question}`)
            +field('header', 'header', question.header )
            +field('content', 'content', question.content, 'textarea')

        each answer in answers
            tr
                td
                td.username= answer.User.username

            tr
                td todo: votes
                td
                    div
                    img(src=answer.User.avatarImage class="image answerImg")
                td.text= answer.answer
                td

            if(userId === answer.User.id)
                a(href="#" class="button") Edit
                br
                a(href="#" class="button") Delete
