mixin errorSummaryList(errors)
  if errors
    div(class="error__container login__errors")
      p The following error(s) occurred:
      ul
        each error in errors
          li
            |
            i.fa.fa-shield(aria-hidden='true' class="shield")= error

mixin field(labelText, fieldName, fieldValue, fieldType="text", placeholder = null)
  div(class='signup__group')
    label(for=fieldName) #{labelText}
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName) #{fieldValue}
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)
